@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.fade-in__delay {
  opacity: 0;
  animation: fadeIn ease-in;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 0.5s;
}
